<template>
  <div id=questionGrid>
      <h2 v-html="question" id="questionElement"></h2>
      <button type="button" id="answer1" @click="() => answerClicked('answer1')">Answer 1</button>
      <button type="button" id="answer2" @click="() => answerClicked('answer2')">Answer 2</button>
      <button v-show="multipleAnswer" type="button" id="answer3" @click="() => answerClicked('answer3')">Answer 3</button>
      <button v-show="multipleAnswer" type="button" id="answer4" @click="() => answerClicked('answer4')">Answer 4</button>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
export default {
  name: 'QuestionScreen',
  data ()  {
    return {
      questions: [],
      currentQuestionIndex: 0,
      answerButtons: [],
      questionElement: "",
      numberOfQuestions: 0,
      multipleAnswer: true,
      question: "This is the question",
    }
  },
  mounted () {
    const categoryId = this.getCategoryId;
    const difficulty = this.getDifficulty;
    this.numberOfQuestions = this.getNumberOfQuestions;
    this.questionElement = document.getElementById("questionElement");
    this.answerButtons = [document.getElementById("answer1"), document.getElementById("answer2"), document.getElementById("answer3"), document.getElementById("answer4")]

    fetch(`https://opentdb.com/api.php?amount=${this.numberOfQuestions}&category=${categoryId}&difficulty=${difficulty}`)
        .then(response => response.json())
        .then(data => {
          this.handleResponseCode(data.response_code);
          this.questions = data.results;
        })
        .then(() => {
          this.question = this.questions[0].question;
          this.fillAnswers(this.questions[0]);
          })
    


  },
  computed: {
    ...mapState(['questionScreen']),
    ...mapGetters([
      'getCategoryId',
      'getDifficulty',
      'getNumberOfQuestions',
    ])
  },
  methods: {
    ...mapMutations(['addQuestionWithAnswers']),
    //LAG DENNE
    handleResponseCode (responseCode) {
      if (responseCode === 1) {
        return;
      }
    },
    answerClicked (clickedButton) {
      let yourAnswer = document.getElementById(clickedButton).innerHTML;
      this.addQuestionWithAnswers({question: this.question, yourAnswer: yourAnswer, correctAnswer: this.questions[this.currentQuestionIndex].correct_answer})
      this.currentQuestionIndex++;
      if (this.currentQuestionIndex == this.numberOfQuestions) {
        this.$router.push('/resultScreen');
      } else {
        this.question = this.questions[this.currentQuestionIndex].question;
        this.fillAnswers(this.questions[this.currentQuestionIndex]);
      }
    },
    fillAnswers (questionInfo) {
      if (questionInfo.type !== "multiple") {
        this.answerButtons[0].innerText = "True";
        this.answerButtons[1].innerText = "False";
        this.multipleAnswer = false;
      } else {
      //Puts the correct answer to a random button and the incorrect ones to the other buttons.
        let correctIndex = Math.floor(Math.random() * 4);
        this.answerButtons[correctIndex].innerHTML = questionInfo.correct_answer
        let j = 0;
        for(let i = 0; i < this.answerButtons.length; i++) {
          if (i !== correctIndex) {
            this.answerButtons[i].innerHTML = questionInfo.incorrect_answers[j];
            j++
          } 
        }
        this.multipleAnswer = true;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #questionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: #99E1D9;
    margin: 5em;
    padding: 2em;
    border-radius: 25px;
  }

  #questionElement {
    grid-column: 1 / 3;
  }

  button {
    min-height: 5em;
  }
</style>