<template>
  <div>
      <h1>Here are your results!</h1>
      <h2>{{totalScore}} points</h2>
      <div id="grid">
        <AnsweredQuestion v-for="(question, index) of questionsWithAnswers" :key="index" :questionText=question.question :yourAnswer=question.yourAnswer :correctAnswer=question.correctAnswer></AnsweredQuestion>
      </div>
      <div id="bothButtons">
        <button type="button" @click="clickedBack">Back to start page</button>
        <button type="button" @click="clickedPlayAgain">Play again with same settings</button>
      </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import AnsweredQuestion from '../components/AnsweredQuestion.vue'

export default {
  name: 'ResultScreen',
  components: {
    AnsweredQuestion
  },
  computed: {
    ...mapState(['resultScreen']),
    ...mapGetters([
      'getQuestionsWithAnswers',
      'getScore',
    ])
  },
  created () {
    this.questionsWithAnswers = this.getQuestionsWithAnswers
    console.log(this.questionsWithAnswers)
  },
  mounted () {
    this.totalScore = this.getScore;
  },
  data () {
    return {
      questionsWithAnswers: [],
      totalScore: 0,
    }
  },
  methods: {
    ...mapMutations(['resetPoints', 'resetQuestionsWithAnswers']),
    clickedBack () {
      //Resetting score and list of questions already answered
      this.resetPoints();
      this.resetQuestionsWithAnswers();
      this.$router.push("/");
    },
    clickedPlayAgain () {
      //Resetting score and list of questions already answered
      this.resetPoints();
      this.resetQuestionsWithAnswers();
      this.$router.push("/questionScreen");
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#grid {
  display: grid;
  grid-row-gap: 10px;
}
</style>