
<template>
    <div>
        <form action>
            <h1>Welcome to the greatest trivia game ever created!</h1>
            <label for="selectCategory">Select a category: </label>
            <select class="pink" name="selectCategory" id="selectCategory" v-model="categoryName">
                <option v-for="category of allCategories" :key="category.id">
                    {{category.name}}
                </option>
            </select>
            <br>
            <label for="selectDifficulty">Select difficulty: </label>
            <select class="pink" name="selectDifficulty" id="selectDifficulty" v-model="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <br>
            <label for="selectNumber">Select number of questions: </label>
            <input class="pink" type="number" name="selectNumber" id="selectNumber" min="1" max="50" v-model="numberOfQuestions">
            <br>
            <button class="pink" type="button" @click="onStartClicked">START QUIZ</button>
        </form>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'StartScreen',
  data() {
      return {
            allCategories: [],
            categoryName: '',
            difficulty: '',
            numberOfQuestions: ''
      }
  },
  computed: {
      ...mapState(['startScreen'])
  },
  methods: {
    ...mapMutations(['setCategoryId', 'setDifficulty', 'setNumberOfQuestions']),
    onStartClicked() {
        //Finding the id for the category
        let i = 0;
        while (this.categoryName !== this.allCategories[i].name && i < this.allCategories.length) {
            i++;
        }
        this.setCategoryId(this.allCategories[i].id);
        this.setDifficulty(this.difficulty);
        this.setNumberOfQuestions(this.numberOfQuestions);
        //Switching to question screen view.
        this.$router.push('/questionScreen');

    }
  },
  created () {
    fetch("https://opentdb.com/api_category.php")
    .then(response => response.json())
    .then(data => {
        for (let category of data.trivia_categories) {
            this.allCategories.push(category);
        } 
    });
  }
}
</script>

<style scoped>
    form {
        background-color: #99E1D9;
        margin: 5em;
        padding: 2em;
        border-radius: 25px;
    }
</style>