<template>
  <div class="questionBox">
      <h2 v-html="question"></h2>
      <p><b>Your answer: </b><span>{{yourAnswer}}</span></p>
      <p><b>Correct answer: </b><span v-html="correct" :innerHtml="correct" id="correctElement"></span></p>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
export default {
  name: 'AnsweredQuestion',
  data () {
      return {
        answeredCorrectly: false,
        question: "",
        correct: ""
      }
  },
  props: {
    questionText: String,
    yourAnswer: String,
    correctAnswer: String
  },
  mounted () {
      this.correct = this.correctAnswer;
      if (this.yourAnswer === this.correct) {
          this.answeredCorrectly = true;
          this.addPoints();
      }
    this.question = this.questionText;
  },
  computed: {
      ...mapState(['answeredQuestion']),
  },
  methods: {
      ...mapMutations(['addPoints'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#questionBox {
    background-color: #99E1D9;
}
</style>