<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #5D576B;
  margin-top: 60px;
}
body {
  background-color: #FFFAE3;
}

button, select, input {
        background-color: #F7567C;
        color: #5D576B;
        border-style: hidden;
        border-radius: 10px;
        height: 25px;
        font-size: 100%;
    }

</style>
